{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <div class="tut" itemscope itemtype="http://schema.org/CreativeWork">
        <div class="tut-title">
            <h1 itemprop="name">{{ .Title }}</h1>
            <span class="tut-authors" itemprop="lecturer">
                ( Lectures delivered by: 
                {{ with .Params.lecturers }}
                {{ delimit . ", " }}
                {{ end }})
            </span>
            <span class="pull-right">
                {{ partial "share.html" . }}
            </span>
        </div>

        {{ if .Params.image }}
        <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="tut-banner" itemprop="image">
        {{end}}

        <h3>Basic Information</h3>
        <p class="tut-basicinfo" itemprop="text">{{ .Params.brief }}</p>

        <p class="tut-basicinfo" itemprop="text">
          Here is the basic information on what this page is about:
        </p>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 tut-row-heading">Sessions</div>
                    <div class="col-xs-12 col-sm-9">{{ .Params.sessions | markdownify }}</div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="visible-xs space-below"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 tut-row-heading">Semester</div>
                    <div class="col-xs-12 col-sm-9" itemprop="CoursePage">
                      {{ .Params.semester | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="visible-xs space-below"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 tut-row-heading">Course Page</div>
                    <div class="col-xs-12 col-sm-9" itemprop="CoursePage">
                      <a href = "{{ .Params.course_page }}">{{ .Params.course_page }} </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="visible-xs space-below"></div>

        <h3>Tutorial Materials</h3>
        <div class="article-style">{{ .Content }}</div>

    </div>

    {{ partial "section_pager.html" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
